*{
box-sizing:	border-box;
font-family: "Dancing Script";
}

header h1 {
	
	height: 100px;
	background-color:  white;
	padding: 20px 120px;
	
	border-bottom: 2px solid;
	color: black;
}
header img {
	margin: 10px 10px;
	width: 100px;
	float: left;
	height: 80px;
}